* {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 40%;
    background-color: white;
    padding-right: 20px;
}

.above {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    outline-color: black;
    outline-style: double;
}

option.red {
    background-color: red;
}